absl-py
astunparse
cachetools
certifi
chardet
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
keras-nightly
Keras-Preprocessing
Markdown
MarkupSafe
numpy==1.22.0
oauthlib
opencv-python-headless
opt-einsum
Pillow==9.0.0
protobuf==3.18.3
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu==2.5.2
tensorflow-estimator
termcolor
typing-extensions
urllib3
Werkzeug
wincertstore
wrapt
