<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>It's....</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/classifiedPokemonstyle.css') }}">
    <!-- <link rel="stylesheet" href="css/classifiedPokemonstyle.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <div id="result">
        <h1> It's {{pokemon}}! </h1>
        <img src="{{pic1_location}}" height="500px" width="500px">
    </div>
    </br>
    <div style="text-align:center">
        <button style="width:220px" onclick="location.href='{{ url_for('uploadPokemon') }}'">Try Another!</button>
        <button onclick="location.href='{{ url_for('home') }}'">Home</button>
    </div>
    <footer>
        <p class="simple"> Created with &#10084;&#65039; by</p>
        <!-- <p class="simple"> This website is a personal project and is not related to Pokemon in any way.</p> -->
        <div class="authors">
            <p> <a href="https://github.com/ahmedtausif5" target="_blank">Tausif Ahmed</a> |
                <a href="https://www.notion.so/mujiworkspace/Portfolio-fd1b536a6efd4a96b4811d87b88f16ee" target="_blank">Mujibul Islam Dipto</a></p>
        </div>
        <p id="disclaimer"> Note: This is a personal project and is not related to Pokemon in any way.</p>
    </footer>
</body>

</html>





<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The pokemon is {{pokemon}}</h1>
    <img src="{{pic1_location}}" alt="">
  </body>
</html> -->
